# automatically requests pull request reviews for files matching the given pattern; the last match takes precedence
# https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners

# any files not matched below default to the maintainers team
* 							@spacetelescope/jwst-pipeline-maintainers

# workflows and automation
/.github/					@zacharyburnett @jhunkeler @pllim

# steps and packages
/jwst/ami/					@emolter
/jwst/assign_mtwcs/			@emolter
/jwst/assign_wcs/			@melanieclarke @jemorrison
/jwst/associations/			@tapastro @stscieisenhamer
/jwst/background/			@melanieclarke
/jwst/badpix_selfcal/		@emolter
/jwst/barshadow/			@stscirij @melanieclarke
/jwst/charge_migration/		@kmacdonald-stsci
/jwst/clean_flicker_noise/	@melanieclarke
/jwst/combine_1d/			@stscirij @tapastro @melanieclarke
/jwst/coron/				@tapastro
/jwst/cube_build/			@jemorrison
/jwst/dark_current/			@tapastro
/jwst/datamodels/			@emolter
/jwst/dq_init/				@kmacdonald-stsci
/jwst/emicorr/				@penaguerrero @melanieclarke
/jwst/engdblog/				@tapastro @pllim
/jwst/exp_to_source/		@penaguerrero @melanieclarke
/jwst/extract_1d/			@melanieclarke @emolter @jemorrison
/jwst/extract_2d/			@stscirij @tapastro
/jwst/firstframe/			@jemorrison
/jwst/flatfield/			@jemorrison @stscirij @melanieclarke
/jwst/fringe/				@jemorrison
/jwst/gain_scale/			@kmacdonald-stsci
/jwst/group_scale/			@kmacdonald-stsci
/jwst/guider_cds/			@tapastro
/jwst/imprint/				@melanieclarke
/jwst/ipc/					@tapastro
/jwst/jump/					@kmacdonald-stsci
/jwst/lastframe/			@jemorrison
/jwst/lib/					@pllim
/jwst/linearity/			@kmacdonald-stsci
/jwst/master_background/	@penaguerrero @melanieclarke
/jwst/model_blender/		@emolter @braingram
/jwst/msaflagopen/			@stscirij @melanieclarke
/jwst/outlier_detection/	@emolter @braingram
/jwst/pathloss/				@stscirij @melanieclarke
/jwst/persistence/			@tapastro
/jwst/photom/				@tapastro
/jwst/picture_frame/		@tapastro @melanieclarke
/jwst/pipeline/				@tapastro @melanieclarke @emolter
/jwst/pixel_replace/		@tapastro @melanieclarke
/jwst/ramp_fitting/			@kmacdonald-stsci
/jwst/refpix/				@stscirij @melanieclarke
/jwst/regtest/				@melanieclarke @penaguerrero @tapastro @pllim
/jwst/resample/				@emolter @melanieclarke @mcara @braingram
/jwst/reset/				@jemorrison
/jwst/residual_fringe/		@jemorrison @melanieclarke
/jwst/rscd/					@jemorrison
/jwst/saturation/			@kmacdonald-stsci
/jwst/scripts/				@penaguerrero
/jwst/skymatch/				@emolter @mcara
/jwst/source_catalog/		@emolter
/jwst/spectral_leak/		@jemorrison
/jwst/srctype/				@tapastro @penaguerrero
/jwst/stpipe/				@emolter @tapastro
/jwst/straylight/			@jemorrison
/jwst/superbias/			@kmacdonald-stsci
/jwst/tso_photometry/		@penaguerrero
/jwst/tweakreg/				@emolter @mcara
/jwst/wavecorr/				@melanieclarke
/jwst/wfs_combine/			@penaguerrero
/jwst/wfss_contam/			@emolter
/jwst/white_light/			@penaguerrero
