# automatically requests pull request reviews for files matching the given pattern; the last match takes precedence
# https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners

# all files
* 							@tapastro @melanieclarke @emolter

# workflows and automation
/.github/					@zacharyburnett @jhunkeler @tapastro @melanieclarke

# steps and packages
/jwst/ami/					@emolter @tapastro @melanieclarke
/jwst/assign_mtwcs/			@emolter @tapastro @melanieclarke
/jwst/assign_wcs/			@melanieclarke @jemorrison @tapastro
/jwst/associations/			@tapastro @stscieisenhamer @melanieclarke
/jwst/background/			@melanieclarke @tapastro
/jwst/badpix_selfcal/		@emolter @tapastro @melanieclarke
/jwst/barshadow/			@stscirij @tapastro @melanieclarke
/jwst/charge_migration/		@kmacdonald-stsci @tapastro @melanieclarke
/jwst/clean_flicker_noise/	@melanieclarke @tapastro @melanieclarke 
/jwst/combine_1d/			@stscirij @tapastro @melanieclarke
/jwst/coron/				@tapastro @melanieclarke
/jwst/cube_build/			@jemorrison @tapastro @melanieclarke
/jwst/dark_current/			@tapastro @melanieclarke
/jwst/datamodels/			@emolter @tapastro @melanieclarke
/jwst/dq_init/				@kmacdonald-stsci @tapastro @melanieclarke
/jwst/emicorr/				@penaguerrero @melanieclarke @tapastro
/jwst/engdblog/				@tapastro @pllim @melanieclarke
/jwst/exp_to_source/		@penaguerrero @melanieclarke @tapastro
/jwst/extract_1d/			@melanieclarke @emolter @jemorrison @tapastro
/jwst/extract_2d/			@stscirij @tapastro @melanieclarke
/jwst/firstframe/			@jemorrison @tapastro @melanieclarke
/jwst/flatfield/			@jemorrison @stscirij @melanieclarke @tapastro
/jwst/fringe/				@jemorrison @tapastro @melanieclarke
/jwst/gain_scale/			@kmacdonald-stsci @tapastro @melanieclarke
/jwst/group_scale/			@kmacdonald-stsci @tapastro @melanieclarke
/jwst/guider_cds/			@tapastro @melanieclarke
/jwst/imprint/				@melanieclarke @tapastro
/jwst/ipc/					@tapastro @melanieclarke
/jwst/jump/					@kmacdonald-stsci @tapastro @melanieclarke
/jwst/lastframe/			@jemorrison @tapastro @melanieclarke
/jwst/lib/					@pllim @tapastro @melanieclarke
/jwst/linearity/			@kmacdonald-stsci @tapastro @melanieclarke
/jwst/master_background/	@penaguerrero @melanieclarke @tapastro
/jwst/model_blender/		@emolter @braingram @tapastro @melanieclarke
/jwst/msaflagopen/			@stscirij @melanieclarke @tapastro
/jwst/outlier_detection/	@emolter @braingram @tapastro @melanieclarke
/jwst/pathloss/				@stscirij @melanieclarke @tapastro
/jwst/persistence/			@tapastro @melanieclarke
/jwst/photom/				@tapastro @melanieclarke
/jwst/pipeline/				@tapastro @melanieclarke @emolter
/jwst/pixel_replace/		@tapastro @melanieclarke
/jwst/ramp_fitting/			@kmacdonald-stsci @tapastro @melanieclarke
/jwst/refpix/				@stscirij @melanieclarke @tapastro
/jwst/regtest/				@melanieclarke @penaguerrero @tapastro
/jwst/resample/				@emolter @melanieclarke @mcara @braingram @tapastro
/jwst/reset/				@jemorrison @tapastro @melanieclarke
/jwst/residual_fringe/		@jemorrison @melanieclarke @tapastro
/jwst/rscd/					@jemorrison @tapastro @melanieclarke
/jwst/saturation/			@kmacdonald-stsci @tapastro @melanieclarke
/jwst/scripts/				@penaguerrero @tapastro @melanieclarke
/jwst/skymatch/				@emolter @mcara @tapastro @melanieclarke
/jwst/source_catalog/		@emolter @tapastro @melanieclarke
/jwst/spectral_leak/		@jemorrison @tapastro @melanieclarke
/jwst/srctype/				@tapastro @penaguerrero @melanieclarke
/jwst/stpipe/				@emolter @tapastro @melanieclarke
/jwst/straylight/			@jemorrison @tapastro @melanieclarke
/jwst/superbias/			@kmacdonald-stsci @tapastro @melanieclarke
/jwst/tests/				@emolter @tapastro @melanieclarke
/jwst/tso_photometry/		@penaguerrero @tapastro @melanieclarke
/jwst/tweakreg/				@emolter @mcara @tapastro @melanieclarke
/jwst/wavecorr/				@melanieclarke @tapastro
/jwst/wfs_combine/			@penaguerrero @tapastro @melanieclarke
/jwst/wfss_contam/			@emolter @tapastro @melanieclarke
/jwst/white_light/			@penaguerrero @tapastro @melanieclarke
