[run]
branch = True
source = jwst
omit =
    setup.py
    docs/*
    jwst/tests/base_classes.py
    jwst/**/test*
    jwst/extern/**/*

[report]
exclude_lines =
    if self.debug:
    pragma: no cover
    raise NotImplementedError
    if __name__ == .__main__.:
ignore_errors = True
omit =
    setup.py
    docs/*
    jwst/tests/base_classes.py
    jwst/**/test*
    jwst/extern/**/*
