[run]
branch = True
source = jwst

[report]
exclude_lines =
    if self.debug:
    pragma: no cover
    raise NotImplementedError
    if __name__ == .__main__.:
ignore_errors = True
omit =
    conftest.py
    setup.py
    docs/*
    jwst/conftest.py
    jwst/tests*
    jwst/*/tests/*
