__pycache__
.eggs/
build/
dist/
.cache
*~
.*.sw[op]
*.pyc
*.egg-info/
*.so
.coverage*
coverage*
*/version.py
docs/*/source/*.txt.rst
docs/generated
docs/fits_generator/source/templates.rst
docs/jwst_git/
docs/_build/
docs/api/
*.wpr
*wpu
.pytest_cache
results.xml
pip-wheel-metadata/
.DS_Store
.project
.pydevproject
.vscode
*code-workspace
src/
scripts/launch.json
*.orig
.ipynb_checkpoints
*/.ipynb_checkpoints/*.ipynb
htmlcov
requirements-min.txt
.tox/
.tmp/
