[build-system]
requires = [
    "setuptools>=42",
    "setuptools_scm[toml]>=3.4",
    "wheel",
    "oldest-supported-numpy",
]
build-backend = "setuptools.build_meta"

[tool.setuptools_scm]
write_to = "jwst/_version.py"

[tool.ruff]
line-length = 130
exclude = [
    'jwst/extern',
    'docs',
    'jwst/associations',
    'jwst/fits_generator',
    '.tox',
    '.eggs',
    'build',
]

ignore = [
    'E741', # ambiguous variable name
]

[tool.ruff.per-file-ignores]
'jwst/ramp_fitting/tests/compare_cr_navg_files.py' = ['E402']
'jwst/ramp_fitting/tests/compare_crs.py' = ['E402']
'jwst/ramp_fitting/tests/compare_cr_files.py' = ['E402']
'jwst/ramp_fitting/tests/create_cube.py' = ['E402']
'jwst/ramp_fitting/tests/mc_3d.py' = ['E402']
