asdf==2.4.2
-e git+https://github.com/astropy/astropy@5f7c192#egg=astropy
atomicwrites==1.3.0
attrs==19.1.0
certifi==2019.9.11
chardet==3.0.4
ci-watson==0.4
codecov==2.0.15
coverage==4.5.4
-e git+https://github.com/spacetelescope/crds@b9a88d6#egg=crds
Cython==0.29.13
drizzle==1.13.1
filelock==3.0.12
-e git+https://github.com/spacetelescope/gwcs@3e2bc108e#egg=gwcs
idna==2.8
importlib-metadata==0.23
jsonschema==3.0.2
more-itertools==7.2.0
numpy==1.17.2
packaging==19.2
photutils==0.7
pluggy==0.13.0
psutil==5.6.3
py==1.8.0
pyparsing==2.4.2
pyrsistent==0.15.4
pytest==5.1.3
pytest-cov==2.7.1
pytest-doctestplus==0.4.0
pytest-openfiles==0.4.0
PyYAML==5.1.2
requests==2.22.0
requests-mock==1.7.0
scipy==1.3.1
semantic-version==2.6.0
six==1.12.0
spherical-geometry==1.2.18
stsci.image==2.3.3
stsci.imagestats==1.6.2
stsci.stimage==0.2.4
tweakwcs==0.5.1
urllib3==1.25.6
wcwidth==0.1.7
zipp==0.6.0
