git+https://github.com/asdf-format/asdf-standard
git+https://github.com/asdf-format/asdf
git+https://github.com/asdf-format/asdf-transform-schemas
git+https://github.com/asdf-format/asdf-coordinates-schemas
git+https://github.com/asdf-format/asdf-wcs-schemas
git+https://github.com/astropy/astropy
git+https://github.com/astropy/asdf-astropy
git+https://github.com/spacetelescope/crds
git+https://github.com/spacetelescope/gwcs
git+https://github.com/astropy/photutils
git+https://github.com/spacetelescope/stdatamodels
git+https://github.com/spacetelescope/stpipe
git+https://github.com/spacetelescope/stcal
git+https://github.com/spacetelescope/tweakwcs
git+https://github.com/spacetelescope/wiimatch
