asdf==2.3.3
astropy==3.2.1
crds==7.3.4
drizzle==1.13.1
gwcs==0.10.0
jplephem==2.9
jsonschema==2.6.0
numpy==1.16.4
photutils==0.6
scipy==1.3.0
spherical-geometry==1.2.11
stsci.image==2.3.2
stsci.imagestats==1.6.2
stsci.stimage==0.2.3
