# To generate this file:
# The SDP-specific requirements
#
# This file is used for two purposes:
#    - Fix versions for an official DMS build
#    - Fix specific version numbers for compatibility reasons
#
# The default is there are normally no fixed versions.
# For an official DMS build, this file should be update using the
# commands below. After delivery of the final version for a DMS build,
# this file should be reverted to an empty state.
#
#     conda create -n sdp python -y
#     conda activate sdp
#     pip install -e .[test,sdp]
#     pip freeze | grep -v jwst >> requirements-sdp.txt
asdf==3.5.0
asdf-astropy==0.7.0
asdf_coordinates_schemas==0.3.0
asdf_standard==1.1.1
asdf_transform_schemas==0.5.0
asdf_wcs_schemas==0.4.0
astropy==6.1.6
astropy-iers-data==0.2024.11.11.0.32.38
attrs==24.2.0
BayesicFitting==3.2.2
certifi==2024.8.30
charset-normalizer==3.4.0
ci_watson==0.7.0
colorama==0.4.6
contourpy==1.3.1
coverage==7.6.4
crds==12.0.5
cycler==0.12.1
drizzle==2.0.0
et_xmlfile==2.0.0
filelock==3.16.1
fonttools==4.54.1
future==1.0.0
gwcs==0.21.0
idna==3.10
imageio==2.36.0
importlib_metadata==8.5.0
iniconfig==2.0.0
jmespath==1.0.1
jplephem==2.22
jsonschema==4.23.0
jsonschema-specifications==2024.10.1
kiwisolver==1.4.7
lazy_loader==0.4
lxml==5.3.0
matplotlib==3.9.2
networkx==3.4.2
numpy==1.26.4
opencv-python-headless==4.10.0.84
openpyxl==3.1.5
packaging==24.2
Parsley==1.3
photutils==2.0.2
pillow==11.0.0
pluggy==1.5.0
poppy==1.1.1
psutil==6.1.0
pyerfa==2.0.1.5
pyparsing==3.2.0
pysiaf==0.23.3
pytest==8.3.3
pytest-cov==6.0.0
pytest-doctestplus==1.2.1
python-dateutil==2.9.0.post0
PyYAML==6.0.2
readchar==4.2.1
referencing==0.35.1
requests==2.32.3
requests-mock==1.12.1
rpds-py==0.21.0
ruff==0.7.3
scikit-image==0.24.0
scipy==1.14.1
semantic-version==2.10.0
setuptools==75.5.0
six==1.16.0
spherical_geometry==1.3.2
stcal==1.9.0
stdatamodels==2.1.2
stpipe==0.7.0
stsci.imagestats==1.8.3
stsci.stimage==0.2.9
synphot==1.4.0
tifffile==2024.9.20
tweakwcs==0.8.9
urllib3==2.2.3
wiimatch==0.3.2
zipp==3.21.0
