# ASDF upstream packages
git+https://github.com/asdf-format/asdf-standard
git+https://github.com/asdf-format/asdf
git+https://github.com/asdf-format/asdf-transform-schemas
git+https://github.com/asdf-format/asdf-coordinates-schemas
git+https://github.com/asdf-format/asdf-wcs-schemas

# Use nightly astropy dev build
git+https://github.com/astropy/asdf-astropy
git+https://github.com/astropy/photutils
--extra-index-url https://pypi.anaconda.org/astropy/simple astropy --pre

# Use Bi-weekly numpy/scipy dev builds
--extra-index-url https://pypi.anaconda.org/scientific-python-nightly-wheels/simple
numpy>=0.0.dev0
scipy>=0.0.dev0
