git+https://github.com/numpy/numpy.git#egg=numpy
git+https://github.com/astropy/astropy.git#egg=astropy
git+https://github.com/spacetelescope/asdf.git#egg=asdf
git+https://github.com/spacetelescope/gwcs.git#egg=gwcs
