name: test

on:
  push:
    branches:
      - main
      - 'release/*.x'
    tags:
      - '*'
  pull_request:
    branches:
      - main
      - 'release/*.x'
  schedule:
    # Weekly Monday 9AM build
    - cron: "0 9 * * 1"
  workflow_dispatch:
    inputs:
      crds_context:
        description: CRDS context (leave blank for latest)
        type: string
        required: false
        default: ''
      crds_server:
        description: CRDS server
        type: string
        required: false
        default: https://jwst-crds.stsci.edu

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}-${{ inputs.crds_context }}
  cancel-in-progress: true

jobs:
  pre-commit:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683  # v4.2.2
    - uses: actions/setup-python@a26af69be951a213d495a4c3e4e4022e16d87065  # v5.6.0
      with:
        python-version: '3.12'
    - uses: pre-commit/action@2c7b3805fd2a0fd8c1884dcaebf91fc102a13ecd  # v3.0.1
  check:
    uses: OpenAstronomy/github-actions-workflows/.github/workflows/tox.yml@d83bb11581e517f1e786ae76f146781fdd21cd2f # v2.0.0
    with:
      default_python: "3.12"
      envs: |
        - linux: check-dependencies
  latest_crds_contexts:
    uses: ./.github/workflows/contexts.yml
  crds_context:
    needs: [ latest_crds_contexts ]
    runs-on: ubuntu-latest
    steps:
      - id: context
        run: echo context=${{ github.event_name == 'workflow_dispatch' && (inputs.crds_context != '' && inputs.crds_context || needs.latest_crds_contexts.outputs.jwst) || needs.latest_crds_contexts.outputs.jwst }} >> $GITHUB_OUTPUT
    outputs:
      context: ${{ steps.context.outputs.context }}
  test:
    uses: OpenAstronomy/github-actions-workflows/.github/workflows/tox.yml@d83bb11581e517f1e786ae76f146781fdd21cd2f  # v2.0.0
    needs: [ crds_context ]
    with:
      setenv: |
        CRDS_PATH: /tmp/data/crds_cache
        CRDS_SERVER_URL: ${{ github.event_name == 'workflow_dispatch' && inputs.crds_server || 'https://jwst-crds.stsci.edu' }}
        CRDS_CONTEXT: ${{ needs.crds_context.outputs.context }}
        CRDS_CLIENT_RETRY_COUNT: 3
        CRDS_CLIENT_RETRY_DELAY_SECONDS: 20
      cache-path: /tmp/data/crds_cache
      cache-key: crds-${{ needs.crds_context.outputs.context }}
      envs: |
        - linux: py311-oldestdeps-xdist-cov
        - linux: py311-xdist
          posargs: -vv
        - linux: py312-xdist
        # `tox` does not currently respect `requires-python` versions when creating testing environments;
        # if this breaks, add an upper pin to `requires-python` and revert this py3 to the latest working version
        - linux: py3-cov-xdist
          coverage: codecov
          pytest-results-summary: true
        - macos: py3-xdist
          pytest-results-summary: true
