name: CI

on:
  push:
    branches:
      - master
      - '*.x'
    tags:
      - '*'
  pull_request:
  schedule:
    # Weekly Monday 9AM build
    # * is a special character in YAML so you have to quote this string
    - cron: '0 9 * * 1'

env:
  CRDS_SERVER_URL: https://jwst-crds.stsci.edu
  CRDS_PATH: ~/crds_cache
  CRDS_CLIENT_RETRY_COUNT: 3
  CRDS_CLIENT_RETRY_DELAY_SECONDS: 20

jobs:
  cancel_ci:
    name: Mandatory checks before CI
    runs-on: ubuntu-latest
    outputs:
      run_next: ${{ steps.skip_ci_step.outputs.run_next }}
    steps:
    - name: Set output for skip CI
      uses: pllim/action-skip-ci@main
      id: skip_ci_step
      with:
        NO_FAIL: true
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
    # This should only run if we did not skip CI
    - name: Cancel Previous Runs
      uses: styfle/cancel-workflow-action@ce17749
      if: steps.skip_ci_step.outputs.run_next == 'true'
      with:
        access_token: ${{ secrets.GITHUB_TOKEN }}

  # The rest only run if above are done

  tox:
    name: ${{ matrix.name }}
    runs-on: ${{ matrix.os }}
    needs: cancel_ci
    if: needs.cancel_ci.outputs.run_next == 'true'
    strategy:
      fail-fast: false
      matrix:
        include:
          - name: Latest dependency versions w/coverage
            os: ubuntu-latest
            python-version: 3.9
            toxenv: py39-cov

          - name: Oldest dependency versions
            os: ubuntu-latest
            python-version: 3.7
            toxenv: py37-oldestdeps-cov

          - name: SDP dependencies in requirements-sdp.txt
            os: ubuntu-latest
            python-version: 3.8
            toxenv: sdpdeps
            env:
              CRDS_CONTEXT: jwst-edit

          - name: Installed package with --pyargs
            os: ubuntu-latest
            python-version: 3.9
            toxenv: pyargs

          - name: Verify install_requires in setup.py
            os: ubuntu-latest
            python-version: 3.9
            toxenv: verify-install-requires

          - name: Build distribution
            os: ubuntu-latest
            python-version: 3.9
            toxenv: twine

          - name: Code style check
            os: ubuntu-latest
            python-version: 3.9
            toxenv: style

          - name: Security audit
            os: ubuntu-latest
            python-version: 3.9
            toxenv: security

          - name: Build documentation and check warnings
            os: ubuntu-latest
            python-version: 3.9
            toxenv: docs

          - name: macOS
            os: macos-latest
            python-version: 3.9
            toxenv: py39
    steps:
      - name: Install system packages
        if: ${{ contains(matrix.toxenv,'docs') }}
        run: |
          sudo apt-get install graphviz texlive-latex-extra dvipng

      - name: Checkout code
        uses: actions/checkout@v2
        with:
          fetch-depth: 0

      - name: Set up Python ${{ matrix.python-version }}
        uses: actions/setup-python@v2
        with:
          python-version: ${{ matrix.python-version }}

      - name: Upgrade pip
        run: |
          python -m pip install --upgrade pip

      - name: Get pip cache dir
        id: pip-cache
        run: |
          echo "::set-output name=dir::$(pip cache dir)"

      - name: pip cache
        uses: actions/cache@v2
        with:
          path: ${{ steps.pip-cache.outputs.dir }}
          key: ${{ runner.os }}-pip-${{ hashFiles('setup.cfg') }}-${{ hashFiles('**/requirements-sdp.txt') }}
          restore-keys: |
            ${{ runner.os }}-pip-

      - name: Get CRDS context
        id: crds-context
        run: |
          pip install crds
          echo "::set-output name=pmap::$(crds list --resolve-contexts --contexts | cut -f 1 -d ".")"

      - name: Restore CRDS cache
        uses: actions/cache@v2
        with:
          path: ~/crds_cache
          key: crds-${{ matrix.toxenv }}-${{ steps.crds-context.outputs.pmap }}

      - name: Install tox
        run: |
          pip install tox

      - name: Run tests
        run: tox -e ${{ matrix.toxenv }}

      - name: Upload coverage to codecov
        if: ${{ contains(matrix.toxenv,'-cov') }}
        uses: codecov/codecov-action@v1
        with:
          file: ./coverage.xml
          flags: unit

  # # A matrix of jobs with allowed failures. Not enabled for now.
  # allowed_failures:
  #   name: ${{ matrix.name }}
  #   runs-on: ${{ matrix.os }}
  #   needs: cancel_ci
  #   if: needs.cancel_ci.outputs.run_next == 'true'
  #   continue-on-error: ${{ matrix.allowed-failure }}
  #   strategy:
  #     fail-fast: false
  #     matrix:
  #       include:
  #         - name: (Allowed Failure) Dev dependencies in requirements-dev.txt
  #           os: ubuntu-latest
  #           allowed-failure: true
  #           python-version: 3.9
  #           toxenv: devdeps

  #         - name: (Allowed Failure) Warnings treated as Exceptions
  #           os: ubuntu-latest
  #           allowed-failure: true
  #           python-version: 3.9
  #           toxenv: warnings
  #   steps:
  #     - name: Checkout code
  #       uses: actions/checkout@v2
  #       with:
  #         fetch-depth: 0
  #     - name: Set up Python ${{ matrix.python-version }}
  #       uses: actions/setup-python@v2
  #       with:
  #         python-version: ${{ matrix.python-version }}
  #     - name: Install tox
  #       run: |
  #         python -m pip install --upgrade pip
  #         pip install tox
  #     - name: Run tox
  #       run: tox -e ${{ matrix.toxenv }}
