name: test

on:
  push:
    branches:
      - main
      - '*x'
    tags:
      - '*'
  pull_request:
    branches:
      - main
  schedule:
    # Weekly Monday 9AM build
    - cron: "0 9 * * 1"
  workflow_dispatch:
    inputs:
      crds_context:
        description: CRDS context (leave blank for latest)
        type: string
        required: false
        default: ''
      crds_server_url:
        description: CRDS server URL
        type: string
        required: false
        default: https://jwst-crds.stsci.edu

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}-${{ inputs.crds_context }}
  cancel-in-progress: true

jobs:
  pre-commit:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683  # v4.2.2
    - uses: actions/setup-python@0b93645e9fea7318ecaed2b359559ac225c90a2b  # v5.3.0
      with:
        python-version: '3.12'
    - uses: pre-commit/action@2c7b3805fd2a0fd8c1884dcaebf91fc102a13ecd  # v3.0.1
  check:
    uses: OpenAstronomy/github-actions-workflows/.github/workflows/tox.yml@9f1f43251dde69da8613ea8e11144f05cdea41d5  # v1.15.0
    with:
      default_python: "3.12"
      envs: |
        - linux: check-dependencies
        - linux: check-types
  test:
    uses: OpenAstronomy/github-actions-workflows/.github/workflows/tox.yml@9f1f43251dde69da8613ea8e11144f05cdea41d5  # v1.15.0
    with:
      setenv: |
        CRDS_PATH: /tmp/data/crds_cache
        CRDS_SERVER_URL: ${{ inputs.crds_server_url || 'https://jwst-crds.stsci.edu' }}
        CRDS_CONTEXT: ${{ inputs.crds_context || 'jwst-edit' }}
        CRDS_CLIENT_RETRY_COUNT: 3
        CRDS_CLIENT_RETRY_DELAY_SECONDS: 20
      cache-path: /tmp/data/crds_cache
      cache-key: crds-${{ inputs.crds_context || 'jwst-edit' }}
      envs: |
        - linux: py310-oldestdeps-xdist-cov
          pytest-results-summary: true
        - linux: py310-xdist
        - linux: py311-xdist
          pytest-results-summary: true
        - macos: py311-xdist
          pytest-results-summary: true
        - linux: py311-xdist-cov
          coverage: codecov
          pytest-results-summary: true
        - linux: py312-xdist
