name: test with development versions

on:
  push:
    branches:
      - main
      - '*x'
    tags:
      - '*'
  pull_request:
    branches:
      - main
  schedule:
    # Weekly Monday 9AM build
    - cron: "0 9 * * 1"
  workflow_dispatch:
    inputs:
      crds_context:
        description: CRDS context (leave blank for latest)
        type: string
        required: false
        default: ''
      crds_server:
        description: CRDS server
        type: string
        required: false
        default: https://jwst-crds.stsci.edu

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}-${{ inputs.crds_context }}
  cancel-in-progress: true

jobs:
  latest_crds_contexts:
    uses: ./.github/workflows/contexts.yml
  crds_context:
    needs: [ latest_crds_contexts ]
    runs-on: ubuntu-latest
    steps:
      - id: context
        run: echo context=${{ github.event_name == 'workflow_dispatch' && (inputs.crds_context != '' && inputs.crds_context || needs.latest_crds_contexts.outputs.jwst) || needs.latest_crds_contexts.outputs.jwst }} >> $GITHUB_OUTPUT
    outputs:
      context: ${{ steps.context.outputs.context }}
  test:
    if: (github.repository == 'spacetelescope/jwst' && (github.event_name == 'schedule' || github.event_name == 'push' || github.event_name == 'workflow_dispatch' || contains(github.event.pull_request.labels.*.name, 'run devdeps tests')))
    uses: OpenAstronomy/github-actions-workflows/.github/workflows/tox.yml@d83bb11581e517f1e786ae76f146781fdd21cd2f # v2.0.0
    needs: [ crds_context ]
    with:
      setenv: |
        CRDS_PATH: /tmp/data/crds_cache
        CRDS_SERVER_URL: ${{ github.event_name == 'workflow_dispatch' && inputs.crds_server || 'https://jwst-crds.stsci.edu' }}
        CRDS_CONTEXT: ${{ needs.crds_context.outputs.context }}
        CRDS_CLIENT_RETRY_COUNT: 3
        CRDS_CLIENT_RETRY_DELAY_SECONDS: 20
      cache-path: /tmp/data/crds_cache
      cache-key: crds-${{ needs.crds_context.outputs.context }}
      envs: |
        - linux: py3-stdevdeps-xdist
          pytest-results-summary: true
        - macos: py3-stdevdeps-xdist
          pytest-results-summary: true
        - linux: py3-devdeps-xdist
          pytest-results-summary: true
        - macos: py3-devdeps-xdist
          pytest-results-summary: true
